.ws-dropdown-content{
	display: inline;
    padding: 0 10px;
}
.ws-dropdown-content .ws-dropdown-trigger{
	background-color: transparent;
    color: #009688;
    cursor: pointer;
    text-decoration: none;
	transition: color .3s;
	font-size: 14px;
}

.ws-dropdown-content .ws-dropdown {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: rgba(0,0,0,.65);
    display: block;
    font-size: 14px;
    left: -9999px;
    line-height: 1.5;
    list-style: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: -9999px;
    z-index: 1050;
}
.ws-dropdown-content .ws-dropdown .ws-dropdown-menu {
    -webkit-box-shadow: 0 2px 8px rgba(0,0,0,.15);
    background-clip: padding-box;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0,0,0,.15);
    list-style-type: none;
    margin: 0;
    outline: none;
    padding: 4px 0;
    position: relative;
    text-align: left;
}
.ws-dropdown-content .ws-dropdown-menu-item {
    -webkit-transition: all .3s;
    clear: both;
    color: rgba(0,0,0,.65);
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    margin: 0;
    padding: 5px 12px;
    transition: all .3s;
    white-space: nowrap;
}
.ws-dropdown-content .ws-dropdown-menu-item:hover{
	background: #418ef0;
	color: #FFFFFF;
}

.ws-tablelink-a{
    color:#009688;
    cursor: pointer;
    padding-left: 10px;
}
.ws-tablelink-a:hover{
    color: #418ef0;
}