<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <title th:text="市场新增页面"></title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../static/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../static/style/admin.css" media="all">
    <link rel="stylesheet" href="../../static/style/font/css/oms-icons.css" media="all">
    <link rel="stylesheet" href="../../static/style/common.css" media="all">
    <link rel="stylesheet" href="../../static/lib/formSelects/formSelects-v4.css?t=1" media="all">
    <style>
        .layui-form-item .layui-input-inline {
            float: left;
            width: 268px;
            margin-right: 20px;
        }

        .layui-form-item .layui-input-inline {
            float: left;
            width: 268px;
            margin-right: 20px;
        }

        .upload-img-item {
            display: inline-block;
            position: relative;
        }

        .upload-img-item > img {
            width: 50px;
            height: 50px;
        }

        .upload-img-item + .upload-img-item {
            margin-left: 10px;
        }

        .upload-img-item .layui-icon {
            font-size: 19px;
            width: 20px;
            height: 20px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
            position: absolute;
            z-index: 100;
            top: -10px;
            right: -10px;
            color: #ff0000;
            background: #ffffff;
        }

        .upload-img-item .layui-icon:hover {
            cursor: pointer;
        }

        .upload-item-add {
            display: inline-block;
            width: 50px;
            height: 50px;
            margin-left: 10px;
            border: 1px solid #ccc;
            line-height: 46px;
            text-align: center;
        }

        .upload-item-add:hover {
            cursor: pointer;
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
        }

        .upload-item-add .layui-icon {
            font-size: 20px;
        }
    </style>
    <script th:inline="javascript">
        var success = [[#{product.success}]];
        var fail = [[#{product.fail}]];
        var upload = [[#{common.button.upload}]];
        var mydelete = [[#{common.button.delete}]];
        var checkAllLang = [[#{common.text.allelection}]];  //全选
        var emptyLang = [[#{common.text.empty}]];  //清空
        var selectInvertLang = [[#{common.text.reverseelection}]];  //反选
        var requiredNotNull = [[#{product.required}]];
        var productSkuRule = [[#{product.sku.rule}]];
        var productEanRule = [[#{product.ean.rule}]];
        var productMaterielCodeRule = [[#{product.materielCode.rule}]];
        var productWeightRule = [[#{product.weight.rule}]];
        var productLengthRule = [[#{product.length.rule}]];
        var productWidthRule = [[#{product.width.rule}]];
        var productHeightRule = [[#{product.height.rule}]];
        var productRequiredRule = [[#{common.text.tip.required}]];
        var productEnRule = [[#{product.add.en.name}]];
        var prompt_owner = [[#{instock.add.owner}]];
        var prompt_sku = [[#{instock.add.sku}]];
        var prompt_check_sku = [[#{product.check.sku.is.exist}]];
        var prompt_check_ean = [[#{product.check.ean.is.exist}]];
        var advice= [[#{common.text.tip.title}]];

    </script>
</head>
<body>

<div class="layui-fluid edit-page">
    <div class="layui-card">
        <div th:text="新增市场" class="layui-card-header edit-card-header"></div>
        <div class="layui-card-body">
            <form id="searchFormId" class="layui-form" lay-filter="component-form-group">
                <div class="layui-row">
                    <div class="layui-col-xs6">
                        <div class="layui-form-item">
                            <label th:text="标题" class="layui-form-label required-tag"><span
                                    style="color: red">*</span></label>
                            <div class="layui-input-block">
                                <input type="text" id="sku" name="sku" th:placeholder="请输入"
                                       autocomplete="off" lay-verify="required"
                                       class="layui-input"/>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-xs6">
                        <div class="layui-form-item">
                            <label th:text="图片地址" class="layui-form-label required-tag"><span
                                    style="color: red">*</span></label>
                            <div class="layui-input-block">
                                <input type="text" id="sku" name="sku" th:placeholder="#{common.text.input}"
                                       autocomplete="off" lay-verify="required"
                                       class="layui-input"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:text="明细资料" class="edit-module-title"></div>
                <div class="layui-row">
                    <div class="layui-col-xs6">
                        <div class="layui-form-item">
                            <label th:text="明细图片" class="layui-form-label required-tag"></label>
                            <div class="layui-input-block">
                                <input type="text" id="ean" name="ean" th:placeholder="#{common.text.input}"
                                       autocomplete="off" lay-verify="required"
                                       class="layui-input"/>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-xs6">
                        <div class="layui-form-item">
                            <label th:text="#{product.custom.code}" class="layui-form-label"></label>
                            <div class="layui-input-block">
                                <input id="materielCode" type="text" name="materielCode"
                                       th:placeholder="#{common.text.input}" autocomplete="off"
                                       class="layui-input"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-row">
                    <div class="layui-col-xs6">
                        <div class="layui-form-item">
                            <label th:text="#{product.chinese.name}" class="layui-form-label required-tag"></label>
                            <div class="layui-input-block">
                                <input type="text" id="cnName" name="cnName" th:placeholder="#{common.text.input}"
                                       autocomplete="off" lay-verify="required" ws-verify="required"
                                       class="layui-input"/>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-xs6">
                        <div class="layui-form-item">
                            <label th:text="#{product.english.name}" class="layui-form-label required-tag"></label>
                            <div class="layui-input-block">
                                <input type="text" id="enName" name="enName" th:placeholder="#{common.text.input}"
                                       autocomplete="off" lay-verify="required"
                                       class="layui-input"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="layui-row">
                    <div class="layui-col-xs6">
                        <div class="layui-form-item">
                            <label th:text="#{product.unit.price}" class="layui-form-label required-tag"></label>
                            <div class="layui-input-block">
                                <input type="tel" id="price" name="price" th:placeholder="#{common.text.input}"
                                       autocomplete="off" ws-verify="required"
                                       lay-verify="required"
                                       class="layui-input">
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-xs6">
                        <div class="layui-form-item">
                            <label th:text="#{product.currency}"
                                   class="layui-form-label re icon-printquired-tag required-tag"></label>
                            <div class="layui-input-block">
                                <select id="currency" name="currency" lay-verify="required">
                                    <option th:text="#{common.text.choose}"
                                            value=""></option>
                                    <option th:each="currencyType:${currencies}" th:value="${currencyType.key}"
                                            th:text="${currencyType.value}"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="layui-form-item layui-form-text">
                    <label th:text="#{product.explain}" class="layui-form-label"></label>
                    <div class="layui-input-block">
                        <textarea name="description" th:placeholder="#{order.please.input}"
                                  class="layui-textarea"></textarea>
                    </div>
                </div>

                <div th:text="#{product.declare.info}" class="edit-module-title"></div>

                <div class="layui-row">
                    <div class="layui-col-xs6">
                        <div class="layui-form-item">
                            <label th:text="#{product.declare.chinese.name}" class="layui-form-label"></label>
                            <div class="layui-input-block">
                                <input type="text" name="declareCnname" th:placeholder="#{order.please.input}"
                                       autocomplete="off"
                                       class="layui-input"/>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-xs6">
                        <div class="layui-form-item">
                            <label th:text="#{product.declare.english.name}" class="layui-form-label"></label>
                            <div class="layui-input-block">
                                <input type="text" id="declareEnname" name="declareEnname"
                                       th:placeholder="#{common.text.input}"
                                       autocomplete="off"
                                       class="layui-input"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-row">
                    <div class="layui-col-xs6">
                        <div class="layui-form-item">
                            <label th:text="#{product.declare.price}" class="layui-form-label"></label>
                            <div class="layui-input-block">
                                <input type="text" name="declarePrice" th:placeholder="#{common.text.input}"
                                       autocomplete="off"
                                       class="layui-input"/>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-xs6">
                        <div class="layui-form-item">
                            <label th:text="#{product.hscode}" class="layui-form-label"></label>
                            <div class="layui-input-block">
                                <input type="text" name="hsCode" th:placeholder="#{common.text.input}"
                                       autocomplete="off"
                                       class="layui-input"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:text="#{product.specification.information}" class="edit-module-title"></div>

                <div class="layui-row">
                    <div class="layui-col-xs6">
                        <div class="layui-form-item">
                            <label th:text="#{product.length.cm}" class="layui-form-label required-tag"></label>
                            <div class="layui-input-block">
                                <input type="tel" id="length" name="length" th:placeholder="#{common.text.input}"
                                       autocomplete="off"
                                       lay-verify="required"
                                       class="layui-input">
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-xs6">
                        <div class="layui-form-item">
                            <label th:text="#{product.width.cm}" class="layui-form-label required-tag"></label>
                            <div class="layui-input-block">
                                <input type="tel" id="width" name="width" th:placeholder="#{common.text.input}"
                                       autocomplete="off"
                                       lay-verify="required"
                                       class="layui-input">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-row">
                    <div class="layui-col-xs6">
                        <div class="layui-form-item">
                            <label th:text="#{product.height.cm}" class="layui-form-label required-tag"></label>
                            <div class="layui-input-block">
                                <input type="tel" id="height" name="height" th:placeholder="#{common.text.input}"
                                       autocomplete="off"
                                       lay-verify="required"
                                       class="layui-input">
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-xs6">
                        <div class="layui-form-item">
                            <label th:text="#{product.weight.kg}" class="layui-form-label required-tag"></label>
                            <div class="layui-input-block">
                                <input type="tel" id="weight" name="weight" th:placeholder="#{common.text.input}"
                                       autocomplete="off"
                                       lay-verify="required"
                                       class="layui-input">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-row">
                    <div class="layui-col-xs6">
                        <div class="layui-form-item">
                            <label th:text="#{product.label}" class="layui-form-label"></label>
                            <div class="layui-input-block" style="max-width: 370px;">
                                <select name="labelCode" xm-select="example4" xm-select-search=""
                                        xm-select-height="32px"
                                        xm-select-search-type="dl" xm-select-skin="default">
                                    <option th:text="#{common.text.choose}"
                                            value=""></option>
                                    <option th:each="productLabelDto:${productLabelDtoList}"
                                            th:text="${productLabelDto.Name}"
                                            th:value="${productLabelDto.labelCode}"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>


                <div th:text="#{product.processing.information}" class="edit-module-title"></div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label th:text="#{product.yesno.scanning.imei.codes}+' :'" class="layui-form-label"><span
                                style="color: red">*</span></label>
                        <div class="layui-input-block">
                            <input type="radio" name="hasUniqueCode" value=true th:title="#{product.yes}">
                            <input type="radio" name="hasUniqueCode" value=false th:title="#{product.no}" checked>
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label th:text="#{product.yesno.labelling}+' :'" class="layui-form-label"><span
                                style="color: red">*</span></label>
                        <div class="layui-input-block">
                            <input type="radio" name="hasLabel" value=true th:title="#{product.yes}">
                            <input type="radio" name="hasLabel" value=false th:title="#{product.no}" checked>
                        </div>
                    </div>
                </div>

                <div th:text="#{product.upload.pictures}" class="edit-module-title"></div>
                <div class="layui-upload">
                    <div id="pictureAddress" class="layui-upload-list">
                        <input name="pictureAddress" type="hidden" value=""/>
                        <div class="upload-img-item">

                        </div>
                        <div class="upload-item-add" id="upload_item_add"><i class="layui-icon layui-icon-add-1"></i>
                        </div>
                    </div>
                </div>

                <div class="edit-options-content">
                    <button id="testListAction" th:text="#{product.save}" class="layui-btn" lay-submit=""
                            lay-filter="component-form"></button>
                    <button th:text="#{product.reset}" type="reset" class="layui-btn layui-btn-primary"></button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="../../static/layui/layui.js" type="text/javascript"></script>
<script src="../../static/modules/market/market_add.js" type="text/javascript"></script>

</body>
</html>

